/** most of this stuff can probably go **/
/*
  4.72px     6.472px
  7.64px     8.09px
 12.36px    10.79px
 20.00px    16.18px
 32.36px    32.36px
 52.36px    64.72px
 84.72px    97.08px
137.07px   129.44px
*/

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  font-family:Helvetica,Arial,sans-serif;
  /* xtra type stuff */
  word-wrap:break-word;
  -moz-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -o-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

body {
  color:#796D69;
  font-size:20px;
  line-height:32.36px;
  margin:0;
  padding:0;
  padding-top:32.36px;
}

.container {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  max-width:1240px;
  padding-left: 20px;
  padding-right: 20px;
}

header,
main aside,
main section,
footer {
  padding-left:12.36px;
  padding-right:12.36px;
}

header::after,
main::after,
footer::after {
  content:"";
  display:table;
  clear:both;
}

h1,
h2,
h3 {
  font-size:32.36px;
  line-height:1em;
  margin:32.36px 0;
}

h4,
h5,
h6 {
  font-size:20px;
  line-height:1em;
  margin:12.36px 0;
}

/* Crazy animated gradient stuff */

header,
header h1 a,
header nav,
header nav ul li a,
main,
aside.sidebars,
aside.sidebars a,
#block-views-custom-taxonomy-pages-block .body,
footer,
footer a {
  .animate-colours;
}

/* Header Stuff
   ========================= */

header {
  border-bottom:solid 7.64px;
  padding:0 0 6.75px 0;
}

header h1,
header h1 a {
  margin:0;
  padding:0;
}

header h1,
header h1 a {
  display:block;
  font-size:84.72px;
  font-weight:bold;
  letter-spacing:-4.72px;
  line-height:84.72px;
  text-decoration:none;
}

header nav {
  height:64.72px;
  width:100%;
  border-top:solid 7.64px;
  padding-top: 18px;

  ul {
    list-style: none;
    margin:0;
    padding:0;
    text-align:left;

    h2 { display:none; }

    li {
      float:left;
      list-style:none;
      margin-left:7.64px;
      margin-right:32.36px;
      padding:0;

      a {
        border-bottom:none;
        font-size:26.17924px;
        font-weight:bold;
        letter-spacing:0;
        text-decoration:none;

        &:hover {
          border-bottom:4.72px solid;
        }
      }
    }
  }
}

footer {
  border-top:solid 7.64px;
  margin:32.36px 0;
  padding:12.36px 0 0 0;
}

a,
a:hover {
  text-decoration:none !important;
  .animate-colours;
}

a.button {
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
}

/* Some layout related stuff
   ============================================================== */

main {
  padding-top:16.18px;
  padding-bottom:16.18px;
  position:relative;

  aside {
    ul {
      list-style:none;
      margin: 12.36px 0;
      padding:0;

      li {
        display:list-item;
        list-style:none;
        margin:0;
        padding:0;
        width:100%;

        a {
          display:block;
          margin:0 -1em;
          padding:0 1em;
          width:100%;

          &:hover,
          &.active {
            .animate-bgcolours;
            color:white;
          }
        }
      }
    }
  }

  section {
    ul,p {
      color:#796D69;
      margin:12.36px 0;
      padding: 0;
    }

    .image-grid {
      list-style: none;
      margin-left: -4.72px;
      margin-right: -4.72px;

      &::after {
        content: '';
        display: table;
        clear: both;
      }
      .item {
        float: left;
        width: 50%;
        overflow: hidden;
        position: relative;
        padding: 4.72px;
      }
    }
  }
}

@media (min-width: @small) and (max-width: 991px) {
  main {
    padding-top: 32.36px;
    padding-bottom: 32.36px;
    aside {
      margin-bottom: 32.36px;
      &::after {
        content: '';
        display: table;
        clear:both;
      }
      nav {
        &::after {
          content: '';
          display: table;
          clear:both;
        }
        ul {
          float: left;
          width: 50%;
        }
      }
    }

    section {
      .image-grid {
        .item {
          width: 33%;
        }
      }
    }
  }
}

@media (min-width: @medium) {
  main {
    padding-top: 64.72px;
    padding-bottom: 96.98px;
    aside {
      float: left;
      width: 25%;
      ul {
        li {
          a {
            &:hover,
            &.active {
              background-image: url(/media/arrow.png);
              background-position: right center;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }

    section {
      margin-left: 25%;
      .image-grid {
        .item {
          width: 25%;
        }
      }
    }
  }
}

@media (min-width: @large) {
  main {

    aside {
    }

    section {
    }
  }
}


/* Something to do with the groups of images from the "work" menu
   ============================================================== */

#block-views-custom-taxonomy-pages-block .body {
  border-bottom:solid 2px;
  margin:0 0 12.36px 0;
  padding:0;
}

div.view-custom-taxonomy-pages .views-row.image,
div.view-archive .views-row.image {
  width:24%;
  float:left;
  margin:0 1% 1% 0;
  padding:0;
}

div.view-custom-taxonomy-pages .views-row.image div.sb-image,
div.view-custom-taxonomy-pages .views-row.image a,
div.view-custom-taxonomy-pages .views-row.image a img,
div.view-archive .views-row.image div.sb-image,
div.view-archive .views-row.image a,
div.view-archive .views-row.image a img {
  display:block;
  margin:0;
  padding:0;
}
