/* *********************************************** */
/* *********************************************** */
/* »»»»»»» Overlay Related Styles «««««««« */
/* *********************************************** */
/* *********************************************** */

section {
  .image-grid {
    .item.img-detail {
      .animate-bgcolours;
      background-image: url('/media/loading.gif');
      background-position: center center;
      background-repeat: no-repeat;
      border: 7.64px solid white;
      position: fixed;
      top:0;
      right:0;
      bottom: 0;
      left:0;
      height: 100%;
      width: 100%;
      padding: 20px;
      overflow: hidden;
      text-align: center;
      z-index: 99;

      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.5%; /* Adjusts for spacing */
      }

      img {
        max-height: 99%;
        max-width: 99%;
        width: auto;
        height: auto;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
}

.img-detail button {
  width: 33%;
  position: absolute;
  float: none;
  display: block;
  z-index: 10;
  height: 100%;
  top: 0;
  bottom: 0;
  background: transparent;
  border: none;
}

.img-detail button.left {
  left: 0;
}

.img-detail button.right {
  right: 0;
}

.img-detail button.left:hover {
  background: linear-gradient( 90deg, rgba(0,0,0,.25), rgba(255,255,255,0));
}

.img-detail button.right:hover {
  background: linear-gradient( 90deg, rgba(255,255,255,0), rgba(0,0,0,.25));
}

.overlay > div {
  margin-bottom: 20px;
}

.overlay ul.project-nav li {
  margin: 0 10px;
}

.overlay ul.project-nav li button {
  width: 140px;
  /**/
  border: 1px solid lightgray;
  border-radius: 3px;
  background: transparent;
  padding: 10px;
}

.overlay ul.project-nav li button:hover {
/*   background: linear-gradient( 0deg, rgba(0,0,0,.1), rgba(255,255,255,0)); */
  border-color: black;
  outline: none;
}

.overlay ul.project-nav li button:active {
  background-color: rgba(0,0,0,.05);
  box-shadow: inset 0px 2px 4px rgba(0,0,0,.2);
  border-color: black;
  outline: none;
}
