/* *********************************************** */
/* *********************************************** */
/* »»»»»»» Overlay Related Styles «««««««« */
/* *********************************************** */
/* *********************************************** */

section {
  .image-grid {
    .image.img-detail {
      .animate-bgcolours;
      background-image: url('/media/loading.gif');
      background-position: center center;
      background-repeat: no-repeat;
      border: 7.64px solid white;
      position: fixed;
      top:0;
      right:0;
      bottom: 0;
      left:0;
      height: 100%;
      width: 100%;
      padding: 20px;
      overflow: hidden;
      text-align: center;
      z-index: 99;

      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.5%; /* Adjusts for spacing */
      }

      img {
        max-height: 99%;
        max-width: 99%;
        width: auto;
        height: auto;
        vertical-align: middle;
        display: inline-block;
      }

      /** controls **/
      button {
        width: 33%;
        position: absolute;
        float: none;
        display: block;
        z-index: 10;
        height: 100%;
        top: 0;
        bottom: 0;
        background: transparent;
        border: none;

        &.left {
          left: 0;
        }

        &.right {
          right: 0;
        }

          &:hover {
            background: linear-gradient( 90deg, rgba(0,0,0,.25), rgba(0,0,0,0));
          }

          &:hover {
            background: linear-gradient( 90deg, rgba(0,0,0,0), rgba(0,0,0,.25));
          }

      }
    }
  }
}
